@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}

.w50 {
    width: 50%;
    float: left;
    padding-right: 15px;
}

.box {
    display: flex;
    width: 930px;
}

.img-box {
    background-color: rgb(32, 32, 32);
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

    .img-box img {
        width: 100%;
    }

.form-box {
    background-color: #3576ee; /* MUDAR A COR DO BACKGROUND */
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
}

    .form-box h2 {
        font-size: 30px;
    }

    .form-box p {
        font-weight: bold;
        color: #3D3D3D;
    }

        .form-box p a {
            color: #ffffff; /* MUDAR A COR DO TEXTO*/
            text-decoration: none;
        }

    .form-box form {
        margin: 20px 0;
    }

form .input-group {
    margin-bottom: 15px;
}

    form .input-group label {
        color: #000000;
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    form .input-group input {
        width: 100%;
        height: 47px;
        background-color: rgba(255, 255, 255, 0.979);
        border-radius: 20px;
        outline: none;
        border: 2px solid transparent;
        padding: 15px;
        font-size: 15px;
        color: #000000;
        transition: all 0.4s ease;
    }

        form .input-group input:focus {
            border-color: #ffffff;
        }

    form .input-group button {
        width: 100%;
        height: 47px;
        background: #224aca;
        border-radius: 20px;
        outline: none;
        border: none;
        margin-top: 15px;
        color: white;
        cursor: pointer;
        font-size: 16px;
    }
