@{
    ViewData["Title"] = "Info Store";
}
<br /> <br />
<body>
    <div class="slider">
        <img class="selected" src="img/infostore.png" alt="Image1">
        <img src="img/img2.jpeg" alt="Image2">
        <img src="img/img3.png" alt="Image3">
        <img src="img/img4.png" alt="Image4">
        <img src="img/img5.png" alt="Image5">
        <img src="img/img6.jpeg" alt="Image6">
    </div>
</body>
